all -i 100 
#Tournament participants[26]: p0.defector, p1.hate opponent, p2.angry grudger, p3.grudger, p4.soft-grudger, p5.hard-majority, p6.suspicious-pavlovish, p7.suspicious-pavlov-spooky, p8.suspicious-pavlov, p9.suspicious-sophist, p10.suspicious-tit-for-tat, p11.random, p12.alternator, p13.hard-tit-for-tat, p14.handshake, p15.prober, p16.suspicious-two-tits-for-tat, p17.two-tits-for-tat, p18.firm-but-fair, p19.sophist, p20.pavlov, p21.pavlov-spooky, p22.pavlovish, p23.tit-for-tat, p24.forgiving-tit-for-tat, p25.gandhi

#Strategy wise result
#--------------------
#Strategy: suspicious-pavlov              Count: 1          Score:       2618
#Strategy: hate opponent                  Count: 1          Score:       2640
#Strategy: random                         Count: 1          Score:       2828
#Strategy: alternator                     Count: 1          Score:       2986
#Strategy: suspicious-pavlov-spooky       Count: 1          Score:       3215
#Strategy: suspicious-tit-for-tat         Count: 1          Score:       3215
#Strategy: angry grudger                  Count: 1          Score:       3407
#Strategy: suspicious-two-tits-for-tat    Count: 1          Score:       3408
#Strategy: handshake                      Count: 1          Score:       3418
#Strategy: suspicious-pavlovish           Count: 1          Score:       3420
#Strategy: hard-majority                  Count: 1          Score:       3430
#Strategy: defector                       Count: 1          Score:       3432
#Strategy: prober                         Count: 1          Score:       3489
#Strategy: suspicious-sophist             Count: 1          Score:       3494
#Strategy: firm-but-fair                  Count: 1          Score:       3542
#Strategy: pavlov                         Count: 1          Score:       3547
#Strategy: gandhi                         Count: 1          Score:       3582
#Strategy: soft-grudger                   Count: 1          Score:       4002
#Strategy: pavlov-spooky                  Count: 1          Score:       4028
#Strategy: tit-for-tat                    Count: 1          Score:       4031
#Strategy: hard-tit-for-tat               Count: 1          Score:       4056
#Strategy: sophist                        Count: 1          Score:       4063
#Strategy: pavlovish                      Count: 1          Score:       4095
#Strategy: grudger                        Count: 1          Score:       4103
#Strategy: two-tits-for-tat               Count: 1          Score:       4103
#Strategy: forgiving-tit-for-tat          Count: 1          Score:       4220
#--------------------
#
#Best strategy is forgiving-tit-for-tat, congrats
#Best score is 4220
